html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  --serif: 'Marcellus', serif;
  --background: rgb(137, 47, 47);
  --font-color: rgb(50, 50, 50);
  --title-color: rgb(182, 119, 68);
  --box-color: rgb(163, 117, 117);
  --key-main: rgba(212, 212, 212, 0.738);
  --sans-serif: 'Encode Sans', sans-serif;
  --correct: rgb(58, 107, 58);
  --almost: rgb(190, 109, 63);
  --miss: rgb(141, 141, 141);
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1 {
  font-family: var(--serif);
  font-size: 5vmin;
  color: var(--title-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--font-color);
}

.row {
  display: flex;
}

.k-row {
  display: flex;
}

.key {
  background-color: var(--key-main);
}

.square {
  color: var(--box-color);
  border: solid var(--box-color);
}

.row > div {
  margin: .3vmin;
  width: 9vmin;
  height: 9vmin;

  font-family: var(--serif);
  font-size: 7vmin;
  text-align: center;
}

.k-row > div {
  font-family: var(--serif);
  font-size: 2.3vmin;
  color: var(--font-color); 
  line-height: 8vmin;
  text-align: center;
  margin: .4vmin;
  height: 8vmin;
  width: 6vmin;
  border-radius: 7px;
}

.miss {
  background-color: var(--miss);
  border-color: var(--miss);
  color: var(--font-color);
}

.almost {
  background-color: var(--almost);
  border-color: var(--almost);
  color: var(--font-color)
}

.correct {
  background-color: var(--correct);
  border-color: var(--correct);
  color: var(--font-color)
}

.shadow {
  box-shadow: 0 1vmin 1vmin 0 rgba(41, 41, 41, 0.75); 
}

#enter, #delete {
width: 10vmin;
}

#kr1 {
  margin-top: 1vmin;
  margin-left: 1.8vmin;
}

#kr2 {
  margin-left: 5.5vmin;
}

#kr3 {
  margin-left: 1.7vmin;
}